/* Introducing formatting into stylesheet*/
h1 {
    color:rgb(235, 235, 41);
    
}

h2 {
    color:orange;
    
}

body {
    background : grey;
    background-image: url(./img/white-and-brown-house-2886284.jpg);
}

/* To target classes use ., All tags with same class name will be affected.*/
.first {
    color: whitesmoke;
}

/* To target ids use # by the name of the id. Only 1 id can be targeted at once*/
#copyright {
    color: white
}